/* STYLIZOWANIE OGÓLNEJ CZĘŚCI STRONY I USNIĘCIE DOMYŚLNYCH ODSTĘPÓW */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* USTAWIENIA STYLIZOWANIA DLA NAGŁÓWKA */

header {
    position: relative;
}

/* STYLIZOWANIE ZEGARA */

#zegar {
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    color: white;
    font-family: monospace;
    font-weight: bold;
    font-size: x-large;
}

header h1 {
    color: white;
    background-color: #0B237B;
    padding: 15px;
    text-align: center;
}

/* STYLIZOWANIE DLA PANELU NAWIGACYJNEGO */

nav {
    text-align: center;
    background-color: #FF8C00;
    padding: 10px;
    display: flex;
    gap: 20px;
    justify-content: center;
    position: sticky;
    top: 0;
}

nav a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

nav a:hover {
    text-decoration: underline;
    color: lightgray;
    transform: scale(1.1);
}

.kontener {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

main {
    background-color: #F4F4F9;
    width: 77%;
    min-height: 500px;
    margin-left: 5px;
}

main .naglowek {
    text-align: center;
}

/* STYLIZOWANIE ELEMENTÓW STRONY GŁÓWNEJ */
/* STYLIZOWANIE AKRTYKÓŁÓW */
.artykul {
    background-color: #FFFFFF;
    color: black;
    margin: 10px;
    padding: 5px;
    transition: 0.3s;
    line-height: 1.6;
}

.artykul:hover {
    scale: 1.02;
}

.artykul a {
    color: black;
    text-decoration: none;
}

.artykul .tytul {
    color: #E63946;
}

.artykul p {
    font-style: unset;
}

/* STYLIZOWANIE PASKA WYSZUKIWANIA */

.search {
    background-color: #FF8C00;
    width: 21%;
    color: white;
    padding: 5px;
    margin-right: 10px;
}

.searchbar {
    text-align: center;
    text-decoration: underline;
}

.search button, .search input {
    margin-top: 5px;
    background-color: white;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
}

.search ul {
    text-align: left;
    padding-left: 25px;
}

.search li {
    list-style: symbols(cyclic "➡️");
}

.search li:first-child {
    list-style: symbols(cyclic "🔥");
}

.search .lista {
    text-decoration: none;
    color: white;
    line-height: 1.4;
}

/* STYLIZOWANIE STOPKI STRONY */

footer {
    background-color: #0B237B;
    color: white;
    padding: 20px;
    text-align: right;
    font-size: small;
    margin-top: 20px;
}

/* STYLIZOWANIE EKRANU LOGOWANIA */

/* Do naprawy stylizowanie ekranu logowania 
- interfejs ma być na środku ✅
- h2 ma miec niebieskie tło z nagłówku ✅
- ramki na text mają mieć ładny zaokrąglony wygląd ✅
- przyciski mają być delikatnie zaokrąglone ale bez przesady ❌
- usunąć margin jako odstęp od lewej i zrobić to po bożemu ✅
- zmienić styl wizualny textu "Nie masz jeszcze konta?" ✅
- zmienić styl odnośnika do strony logowania ✅
*/

.login-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 35vh;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 450px;
} 

.form h2{
    color: white;
    background-color: #0B237B;
    padding: 20px;
    width: 100%;
    text-align: center;
    margin: 0;
    border-radius: 15px 15px 0 0;
}

.form form {
    background-color: #F4F4F9;
    width: 100%;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 15px 15px;
}

/* STYLIZOWANIE INPUTÓW I PRZYCISKÓW */

.form input {
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding-left: 5px;
    padding-right: 5px;
}

/* STYLIZOWANIE ODNOŚNIKA DO REJESTRACJI */
.form-button {
    color: black;
    font-size: 90%;
    margin-top: 5px;
}

.form-button a {
    text-decoration: none;
    color: #0B237B;
}